* {
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box ;
  user-select: none ;
}
body {
      font-family: 'Poppins', sans-serif;
    }
    ::-webkit-scrollbar {
      height: 6px;
    }
    ::-webkit-scrollbar-thumb {
      background: #28a745;
      border-radius: 10px;
    }

/***********************************************/
    .card img {
      transition: transform 0.3s ease;
      height: 90px;
      width: 100%;
      object-fit: cover;
    }

 .card-body .title {  font-weight: 700; margin: 0; font-size: 14px; }
 .read-time {  font-size: 11px ;  }

/****************************************************/
